<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.agent.mapper.SystemMerchantMapper">
    <select id="getAgentZoneMerchantList" resultType="org.example.agent.vo.AgentZoneMerchantVo">
        SELECT
            merchant_id,
            agent_id,
            name,
            code,
            currency
        FROM
            system_merchant
        WHERE currency= #{currency}
          AND agent_id = #{agent_id}
    </select>

</mapper>