<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.admin.mapper.SystemAdjustOrdersMapper">

    <resultMap id="BaseResultMap" type="org.example.common.entity.SystemAdjustOrders">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="virtualBankReconciliationId" column="virtual_bank_reconciliation_id" jdbcType="INTEGER"/>
            <result property="merchantId" column="merchant_id" jdbcType="INTEGER"/>
            <result property="tradeType" column="trade_type" jdbcType="TINYINT"/>
            <result property="adjustType" column="adjust_type" jdbcType="TINYINT"/>
            <result property="reason" column="reason" jdbcType="TINYINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="fee" column="fee" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="currency" column="currency" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="externalDescription" column="external_description" jdbcType="VARCHAR"/>
            <result property="commandId" column="command_id" jdbcType="VARCHAR"/>
            <result property="merchantBalance" column="merchant_balance" jdbcType="DECIMAL"/>
            <result property="txnCommandId" column="txn_command_id" jdbcType="VARCHAR"/>
            <result property="modelClass" column="model_class" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="localCreatedAt" column="local_created_at" jdbcType="TIMESTAMP"/>
            <result property="localUpdatedAt" column="local_updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="org.example.common.vo.SystemAdjustOrdersVO" extends="BaseResultMap">
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,virtual_bank_reconciliation_id,
        merchant_id,trade_type,adjust_type,
        reason,amount,fee,
        status,currency,description,
        external_description,command_id,merchant_balance,
        txn_command_id,model_class,creator,
        updater,created_at,updated_at,
        local_created_at,local_updated_at
    </sql>

    <!--分页查询-->
    <select id="search" resultType="org.example.common.vo.SystemAdjustOrdersVO" resultMap="BaseResultMap2">
        SELECT
        ao.id,
        sm.CODE,
        sm.NAME,
        ao.trade_type,
        ao.amount,
        ao.reason,
        ao.virtual_bank_reconciliation_id,
        ao.description,
        ao.external_description,
        ao.STATUS,
        ao.created_at,
        ao.updated_at,
        ao.creator,
        ao.updater
        FROM
        system_adjust_orders AS ao
        left JOIN system_merchant AS sm ON ao.merchant_id = sm.merchant_id
        <where>
            <!--币别-->
            <if test="dto.currency!=null and dto.currency!=''">
                and ao.currency = #{dto.currency}
            </if>
            <!--商户id-->
            <if test="dto.merchantId!=null">
                and ao.merchant_id in
                <foreach collection="dto.merchantId" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--交易类型-->
            <if test="dto.tradeType!=null">
                and ao.trade_type in
                <foreach collection="dto.tradeType" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--选择类型-->
            <if test="dto.adjustType!=null">
                and ao.adjust_type in
                <foreach collection="dto.adjustType" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--选择原因-->
            <if test="dto.reason!=null">
                and ao.reason in
                <foreach collection="dto.reason" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--状态-->
            <if test="dto.status!=null">
                and ao.status in
                <foreach collection="dto.status" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--id-->
            <if test="dto.id!=null">
                and ao.id=#{dto.id}
            </if>
            <!--对账单id-->
            <if test="dto.virtualBankReconciliationId!=null">
                and ao.virtual_bank_reconciliation_id=#{dto.virtualBankReconciliationId}
            </if>
            <if test="dto.createdAtBeginTime!=null and dto.createdAtEndTime!=null">
                and ao.created_at between #{dto.createdAtBeginTime}  and  DATE_ADD(#{dto.createdAtEndTime},INTERVAL 1 day)
            </if>
            <if test="dto.updatedAtBeginTime!=null and dto.updatedAtEndTime!=null ">
                and ao.updated_at between #{dto.updatedAtBeginTime}  and  DATE_ADD(#{dto.updatedAtEndTime},INTERVAL 1 day)
            </if>
        </where>
        order by  ao.id
    </select>
</mapper>
